.el-table__header thead {
  @apply text-lg font-sans text-slate-400 !important;
}

.el-table th {
  @apply font-semibold border-none !important;
}

.el-table {
  @apply border-collapse mt-4 !important;
}

.el-table__body {
  @apply font-semibold text-lg text-sky-900 font-sans;
  border-spacing: 0 0.5rem;
}

.el-table td:first-child {
  @apply rounded-l-lg;
}

.el-table td:last-child {
  @apply rounded-r-lg;
} 

.el-table .el-checkbox__inner {
  @apply bg-slate-100 border-transparent !important;
}

.el-table th.is-leaf .el-checkbox__inner {
  @apply bg-slate-300 !important;
}

.el-table td {
  @apply py-2 !important;
}

.el-table__row {
  @apply h-16;
}

.el-table__row,
.el-table__row.hover-row {
  @apply hover:bg-gray-200 !important;
}

.el-table__body .el-table_1_column_1 {
   @apply bg-white border-transparent !important;
}

.el-table__body .el-table_1_column_2 {
  @apply rounded-l-lg !important;
}