@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --bluetiful: #3369e8;
  --slimy-green: #009925;
  --orange-yellow: #eeb211;
  --red-pigment: #ea2b1f;
  --xiketic: #120309;
  --font-family: 'Roboto', 'Noto Color Emoji', 'Apple Color Emoji',
    'Segoe UI Emoji', Times, Symbola, Aegyptus, Code2000, Code2001, Code2002,
    Musica, serif, LastResort;
  font-family: var(--font-family);
}

.overlay {
  @apply bg-gray-100 bg-opacity-80 w-screen h-screen fixed top-0 left-0;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  @apply w-16 h-16 inline-block border-2 rounded-full;
  animation: spin 1s infinite linear;
  border-color: rgba(31, 41, 55, 0.25);
  border-top-color: rgba(31, 41, 55, var(--tw-border-opacity));
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.btn {
  @apply flex p-3 rounded-lg;
}

.btn--primary {
  @apply bg-blue text-gray-200 hover:bg-blue-600 hover:text-gray-100;
}

.btn--secondary {
  @apply bg-gray-100 text-black;
}

.sidebar-item.router-link-exact-active {
  @apply bg-blue-600;
}
