@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Grilroy";
    src: url("/fonts/SVN-Gilroy-Regular.woff2");
}

@font-face {
    font-family: "GrilroyBlackItalic";
    src: url("/fonts/SVN-Gilroy-Black-Italic.woff2");
}

@font-face {
    font-family: "GrilroyBlack";
    src: url("/fonts/SVN-Gilroy-Black.woff2");
}

@font-face {
    font-family: "GrilroyBoldItalic";
    src: url("/fonts/SVN-Gilroy-Bold-Italic.woff2");
}

@font-face {
    font-family: "GrilroyBold";
    src: url("/fonts/SVN-Gilroy-Bold.woff2");
}

@font-face {
    font-family: "GrilroyHeavyItalic";
    src: url("/fonts/SVN-Gilroy-Heavy-Italic.woff2");
}

@font-face {
    font-family: "GrilroyHeavy";
    src: url("/fonts/SVN-Gilroy-Heavy.woff2");
}

@font-face {
    font-family: "GrilroyItalic";
    src: url("/fonts/SVN-Gilroy-Italic.woff2");
}

@font-face {
    font-family: "GrilroyLightItalic";
    src: url("/fonts/SVN-Gilroy-Light-Italic.woff2");
}

@font-face {
    font-family: "GrilroyLight";
    src: url("/fonts/SVN-Gilroy-Light.woff2");
}

@font-face {
    font-family: "GrilroyMediumItalic";
    src: url("/fonts/SVN-Gilroy-Medium-Italic.woff2");
}

@font-face {
    font-family: "GrilroyMedium";
    src: url("/fonts/SVN-Gilroy-Medium.woff2");
}

@font-face {
    font-family: "GrilroySemiBoldItalic";
    src: url("/fonts/SVN-Gilroy-SemiBold-Italic.woff2");
}

@font-face {
    font-family: "GrilroySemiBold";
    src: url("/fonts/SVN-Gilroy-SemiBold.woff2");
}

@font-face {
    font-family: "GrilroyThinItalic";
    src: url("/fonts/SVN-Gilroy-Thin-Italic.woff2");
}

@font-face {
    font-family: "GrilroyThin";
    src: url("/fonts/SVN-Gilroy-Thin.woff2");
}

@font-face {
    font-family: "GrilroyXboldItalic";
    src: url("/fonts/SVN-Gilroy-XBold-Italic.woff2");
}

@font-face {
    font-family: "GrilroyXbold";
    src: url("/fonts/SVN-Gilroy-XBold.woff2");
}

@font-face {
    font-family: "GrilroyXlightItalic";
    src: url("/fonts/SVN-Gilroy-Xlight-Italic.woff2");
}

@font-face {
    font-family: "GrilroyXlight";
    src: url("/fonts/SVN-Gilroy-Xlight.woff2");
}